@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");

.footer {
  position: relative;
  width: 100%;
  background: #263040;
  min-height: 200px;
  padding: 30px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
  font-family: 'Poppins', sans-serif;
}

.social-icon,
.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  flex-wrap: wrap;
}

.social-icon__item,
.menu__item {
  list-style: none;
  margin: 0 10px;
}

.social-icon__link {
  font-size: 2rem;
  color: #fff;
  margin: 0 15px;
  display: inline-block;
  margin: 0 10px;
  transition: transform 0.3s ease, color 0.3s ease;
}

.social-icon__link:hover {
  transform: translateY(-5px);
  color: #4e9fd7;
}

.menu__link {
  font-size: 1.2rem;
  color: #fff;
  margin: 0 15px;
  display: inline-block;
  transition: opacity 0.3s ease, transform 0.3s ease;
  text-decoration: none;
  opacity: 0.75;
  font-weight: 300;
}

.menu__link:hover {
  opacity: 1;
  transform: translateY(-2px);
  color: #4e9fd7; /* Highlight color on hover */
}

.footer p {
  color: #fff;
  margin: 20px 0 10px 0;
  font-size: 1rem;
  font-weight: 400;
  text-align: center;
  opacity: 0.8;
}

.wave {
  position: absolute;
  top: -100px;
  left: 0;
  width: 100%;
  height: 100px;
  background: url("https://i.ibb.co/wQZVxxk/wave.png");
  background-size: 1000px 100px;
}

.wave#wave1 {
  z-index: 1000;
  opacity: 1;
  bottom: 0;
  animation: animateWaves 4s linear infinite;
}

.wave#wave2 {
  z-index: 999;
  opacity: 0.5;
  bottom: 10px;
  animation: animate 4s linear infinite !important;
}

.wave#wave3 {
  z-index: 1000;
  opacity: 0.2;
  bottom: 15px;
  animation: animateWaves 3s linear infinite;
}

.wave#wave4 {
  z-index: 999;
  opacity: 0.7;
  bottom: 20px;
  animation: animate 3s linear infinite;
}

@keyframes animateWaves {
  0% {
    background-position-x: 1000px;
  }
  100% {
    background-position-x: 0px;
  }
}

@keyframes animate {
  0% {
    background-position-x: -1000px;
  }
  100% {
    background-position-x: 0px;
  }
}
